#control__short-clock {
  display: flex;
  flex-direction: column;
  height: 100%;
  button {
    font-size: 1.2em;
    width: 7em;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    width: 8em;
    height: 2em;
    padding: 0.2em 0em;
    color: #ffffff;
    border-radius: 4px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
      rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
  }
  #control__short-clock__header {
    height: 20%;
    #control__short-clock__title {
      font-size: 1.3em;
      display: block;
      text-align: center;
    }
  }
  #control__short-clock__body {
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
    #control_short-clock__time {
      line-height: 0.8em;
      font-size: 3em;
    }
    .control_short-clock__direction-btn {
      background-color: #17a2b8;
      width: 3em;
    }
  }
  #control__short-clock__footer {
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    .control_short-clock__resume-btn {
      background: #4caf50;
    }
    .control_short-clock__stop-btn {
      background: #dc3545;
    }
    .control_short-clock__run-btn {
      background: #fd7e14;
    }
  }
}
