@import "../../colors";

#scoreboard__short-clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #scoreboard__short-clock__description {
    font-size: 2.5em;
  }
  #scoreboard__short-clock__box {
    padding: 1.5em 6em;
    background-color: $secondary_background_color;
    border: 1px solid $interior_border_color;
    border-radius: 1em;
    color: $shortclock_color;
    #scoreboard__short-clock__time {
      line-height: 0.8em;
      font-size: 16em;
    }
  }
}
