.dashboard-page {
  margin-top: 64px;
  margin-left: 30vh;
  margin-right: 15vh;
}

.boton-texto {
  background: none;
  color: blue !important;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

.boton-texto:hover {
  text-decoration: none;
}
