#sidenav--toggle span {
  background-color: #0d0d0d !important;
}

.sidenav {
  background-color: #eff0f3;
}

#sidenav--toggle {
  color: red !important;
}
.sidenav--text {
  color: #0d0d0d !important;
}

.sidenav--icon {
  color: #2a2a2a !important;
}

.unclickeable {
  pointer-events: none;
}
