body{
    background-color: #fffffe;
}
.titulos{
  background-color: #ff8e3c;
  height: 100%;
  height: 85px;
  padding: 5px 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
  
  .contenedorDeLiga {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-bottom: 3rem;
  }
  
  table, th, td {
    border: 1px solid #0d0d0d;
  }
  
  th {
    padding: 25px;
    text-align: center;
  }
  td{
    padding: 25px;
    padding-bottom: 10px;
    text-align: center;
  }
  
  th {
    background-color: #eff0f3;
    color: #0d0d0d;
  }
  
  td img {
    max-width: 50px;
    max-height: 50px;
  }
  
  .LigasAPP h2 {
    font-size: 2rem;
    color: #0d0d0d;
    text-align: left;
  }
  #actualizacionligauno strong{
    font-size: 2rem;
    color: #0d0d0d;
    text-align: left;
  }
  .botonesConoce{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }