.controlpanel__players-list {
  padding: 1em;
  table {
    tbody {
      tr {
        th {
          padding: 0;
        }
        td {
          padding: 0.6em;
          text-align: start;
        }
      }
    }
  }
}
