.controlpanel__players-list {
  display: flex;
  align-items: start;
  justify-content: center;
  table {
    max-height: 100%;
    overflow-y: auto;
    tbody {
      tr {
        th {
          padding: 1em;
        }
        td {
          padding: 0.6em;
          text-align: start;
        }
      }
    }
  }
}
