$primary_background_color: #f5f5f5;
$secondary_background_color: #ffffff;
$border_color: #ffa500;
$interior_border_color: #333333;
$home_role_color: #ffa500;
$away_role_color: #0000ff;
$clock_color: #ffd700;
$shortclock_color: #ff0000;
$fouls_color: #ff0000;
$period_color: #0000ff;
$player-color: black;
