/*
$primary_background_color: #f5f5f5;
$secondary_background_color: #ffffff;
$border_color: #ffa500;
$interior_border_color: #333333;
$home_role_color: #ffa500;
$away_role_color: #0000ff;
$clock_color: #ffd700;
$shortclock_color: #ff0000;
$fouls_color: #ff0000;
$period_color: #0000ff;
$player-color: black;
*/
$primary_background_color: #363940;
$secondary_background_color: #2c2c2c;
$border_color: #ffa500;
$interior_border_color: #4d4d4d;
$home_role_color: white;
$away_role_color: white;
$clock_color: #ffff33;
$shortclock_color: #fd0100;
$fouls_color: #c99130;
$period_color: #cb6600;
$player-color: white;
$points_color: white;
$text_color: white;
