$primary_background: #fffffe;
$primary_headline: #0d0d0d;
$primary_subHeadline: #2a2a2a;
$primary_card_background: #eff0f3;
$primary_card_headline: #0d0d0d;
$primary_card_paragraph: #2a2a2a;
$primary_button: #ff8e3c;
$primary_button_text: #fffffe;
$primary_labels: #0d0d0d;
